.projects{
    padding: 20px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.projects__filter{
    width: 200px;
}

.projects .filter__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}

.projects__filter .item__checkbox{
    position: relative;
}

.projects__filter .checkbox_image{
    background-image: url("../images/checkbox_off.svg");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.projects__filter .item__checkbox_input{
    position: absolute;
    top: 4px;
    right: 4px;
    opacity: 0;
    width: 28px;
    height: 28px;
}

.projects__filter .item__checkbox_input:checked ~ .checkbox_image{
    background-image: url("../images/checkbox_on.svg");
}

.projects__filter .item__name{
    font-size: calc(min(24px, 18px + (24 - 18) * ((100vw - 320px) / (1920 - 320))));
}

.projects__content{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 50px;
    justify-content: space-between;
}

.projects .card{
    width: calc(min(400px, 268px + (400 - 268) * ((100vw - 786px) / (1920 - 786))));
    text-decoration: none;
}

.projects__content .card__image{
    width: inherit;
    height: calc(min(250px, 200px + (250 - 200) * ((100vw - 786px) / (1920 - 786))));
}

.projects__content .card__title{
    font-size: calc(min(20px, 18px + (20 - 18) * ((100vw - 320px) / (1920 - 320))));
    font-family: 'BebasNeueBold', sans-serif;
    color: #192325;
    padding: 5px 0;
}

.projects__content .card__description{
    color: #000;
    font-size: calc(min(18px, 12px + (18 - 12) * ((100vw - 320px) / (1920 - 320))));
    line-height: 1.1;
    height: 85px;
}

.projects__content .card__team{
    font-size: calc(min(20px, 18px + (20 - 18) * ((100vw - 320px) / (1920 - 320))));
    color: #9a9a9a;
}

.projects_search{
    justify-content: center;
}

.projects__load{
    display: none;
}

.projects__load .load_gif{
    width: calc(min(150px, 90px + (150 - 90) * ((100vw - 320px) / (1920 - 320))));
    height: calc(min(150px, 90px + (150 - 90) * ((100vw - 320px) / (1920 - 320))));
}

.search_value{
    font-size: calc(min(60px, 24px + (60 - 24) * ((100vw - 320px) / (1920 - 320))));
    padding: 30px;
}

@media (max-width: 786px) {

    .projects__content{
        justify-content: center;
    }

    .projects__content .card__image{
        height: calc(min(250px, 180px + (250 - 180) * ((100vw - 320px) / (1920 - 320))));
    }

    .projects .card{
        width: calc(min(400px, 280px + (400 - 280) * ((100vw - 320px) / (1920 - 320))));
    }

    .projects__content .card__description{
        font-size: calc(min(16px, 14px + (16 - 14) * ((100vw - 320px) / (1920 - 320))));
    }

}

@media (max-width: 520px) {

    .projects{
        flex-direction: column;
    }

    .projects__filter{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }

}