@font-face {
    font-family: 'TildaBold';
    src: url('../fonts/tildasans/TildaSans-Bold.woff2') format('woff2'),
    url('../fonts/tildasans/TildaSans-Bold.woff') format('woff'),
    url('../fonts/tildasans/TildaSans-Bold.eot') format('ttf');
    font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: 'TildaLight';
    src: url('../fonts/tildasans/TildaSans-Light.woff2') format('woff2'),
    url('../fonts/tildasans/TildaSans-Light.woff') format('woff'),
    url('../fonts/tildasans/TildaSans-Light.eot') format('eot');
    font-weight: 300;
	font-style: normal;
}

@font-face {
    font-family: 'TildaRegular';
    src: url('../fonts/tildasans/TildaSans-Regular.woff2') format('woff2'),
    url('../fonts/tildasans/TildaSans-Regular.woff') format('woff'),
    url('../fonts/tildasans/TildaSans-Regular.eot') format('eot');
    font-weight: 500;
	font-style: normal;
}

@font-face {
    font-family: 'TildaMedium';
    src: url('../fonts/tildasans/TildaSans-Medium.woff2') format('woff2'),
    url('../fonts/tildasans/TildaSans-Medium.woff') format('woff'),
    url('../fonts/tildasans/TildaSans-Medium.eot') format('eot');
    font-weight: 400;
	font-style: normal;
}

*{
    font-family: 'TildaMedium', sans-serif;
}



.wrapper{
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main{
    flex-grow: 1;
}

/*HEADER STYLES*/

.header{
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

.main_link .main_image{
    width: calc(min(150px, 100px + (150 - 100) * ((100vw - 320px) / (1920 - 320))));
    height: calc(min(45px, 35px + (45 - 35) * ((100vw - 320px) / (1920 - 320))));
}

.header__content{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header__navigation{
    max-width: 800px;
    margin-left: calc(min(150px, -50px + (150 - -50) * ((100vw - 1024px) / (1920 - 1024))));
}

.header .navigation__list{
    display: flex;
    gap: 35px;
}

.header__navigation .list__item .link{
    color: #1b1b1b;
    text-decoration: none;
    cursor: pointer;
    transition-property: color, border;
    transition-duration: .3s;
    transition-timing-function: linear;
}

.header__navigation .list__item:hover .link{
    margin-top: -1px;
    color: #eb6a2e;
    border: 1px solid #eb6a2e;
    border-top: none;
    border-right: none;
    border-left: none;
}

.header .social{
    display: flex;
    align-items: center;
    gap: 15px;
}

.header .social .vkontakte,
.header .social .telegram{
    vertical-align: middle;
}

.header .social__icons{
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .add_hackaton{
    background: linear-gradient(0.25turn,rgba(233,54,115,1) 0%,rgba(235,106,46,1) 100%);
    border-radius: 20px;
    color: #fff;
    padding: 12px 32px;
    margin-left: 30px;
    font-family: 'TildaBold', sans-serif;
    font-size: 14px;
}

/*FOOTER STYLES*/

.footer{
    width: 100%;
    margin: 0 auto;
    flex-shrink: 0;
    background-color: #1c1c1c;
    padding: calc(min(100px, 50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)))) calc(min(50px, 20px + (50 - 20) * ((100vw - 320px) / (1920 - 320))));
    box-sizing: border-box;
}

.footer__content{
    width: calc(min(1500px, 260px + (1500 - 260) * ((100vw - 320px) / (1920 - 320))));
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer .link{
    text-decoration: none;
    color: #fff;
    font-family: 'TildaRegular', sans-serif;
}

.footer .content__block{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}

.footer .content__block:last-child{
    width: 250px;
}

.footer .content__block:last-child .block__item_sub{
    color: rgb(235, 106, 46);
    font-family: 'TildaBold', sans-serif;
}

.footer .content__block .form_email{
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer .content__block .form_email__input{
    color: #1c1c1c;
    border: 0 solid #1c1c1c;
    background-color: #f8f8f8;
    border-radius: 30px;
    padding: 12px 18px;
}

.footer .content__block .form_email__input:focus{
    outline: none;
}

.footer .content__block .form_email__submit{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.footer .copyright{
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 1500px;
    margin: 40px auto 0 auto;
    font-size: 12px;
}

.footer .link_home{
    color: #e93673;
}

@media (max-width: 1230px) {

    .header__navigation{
        margin-left: 0;
    }

    .header__content{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .header .navigation__list{
        margin: 50px 0;
        flex-direction: column;
        align-items: center;
    }

    .header .social{
        display: block;
    }

    .header .social__icons{
        justify-content: center;
        margin-top: -2px;
        margin-left: -6px;
    }

    .header .social .vkontakte svg,
    .header .social .telegram svg{
        width: 45px;
        height: 45px;
    }

    .header .add_hackaton{
        margin-top: 15px;
        margin-left: 0;
    }

}