
.article__search{
    padding: 20px;
    max-width: 1500px;
    margin: 40px auto 0 auto;
}

.search__title{
    font-size: calc(min(52px, 24px + (52 - 24) * ((100vw - 320px) / (1920 - 320))));
}

.search__projects_form{
    margin-top: 20px;
    position: relative;
    width: calc(min(400px, 160px + (400 - 160) * ((100vw - 320px) / (1920 - 320))));
}

.form__input{
    font-family: 'BebasNeueRegular', sans-serif;
    font-size: calc(min(18px, 14px + (18 - 14) * ((100vw - 320px) / (1920 - 320))));
    width: 100%;
    padding: 10px calc(min(20px, 15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)))) 10px 40px;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.04em;
}

.form__input::placeholder{
    font-family: 'BebasNeueBold', sans-serif;
}

.form__input:focus{
    outline: none;
}

.form__submit{
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 48%;
    translate: 0 -50%;
    padding: 5px 10px;
    border: none;
    background-image: url("../images/loupe.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.projects{
    padding: 20px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.projects__filter{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects .filter__item{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}

.projects__filter .item__checkbox{
    position: relative;
}

.projects__filter .checkbox_image{
    background-image: url("../images/checkbox_off.svg");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.projects__filter .item__checkbox_input{
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    opacity: 0;
    width: 28px;
    height: 28px;
}

.projects__filter .item__checkbox_input:checked ~ .checkbox_image{
    background-image: url("../images/checkbox_on.svg");
}

.projects__filter .item__name{
    cursor: pointer;
    font-size: calc(min(24px, 18px + (24 - 18) * ((100vw - 320px) / (1920 - 320))));
}

.projects__content{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 50px;
}

.projects .card{
    width: calc(min(368px, 220px + (368 - 220) * ((100vw - 1024px) / (1920 - 1024))));
    text-decoration: none;
}

.projects__content .card__image{
    width: inherit;
    height: calc(min(220px, 140px + (220 - 140) * ((100vw - 786px) / (1920 - 786))));
}

.projects__content .card__title{
    font-size: calc(min(20px, 18px + (20 - 18) * ((100vw - 320px) / (1920 - 320))));
    font-family: 'BebasNeueBold', sans-serif;
    color: #192325;
    padding: 10px 0 5px 10px;
}

.projects__content .card__description{
    color: #000;
    font-size: calc(min(18px, 12px + (18 - 12) * ((100vw - 320px) / (1920 - 320))));
    line-height: 1.1;
    height: 85px;
    padding: 10px 0 5px 10px;
}

.projects__content .card__team{
    font-size: calc(min(20px, 18px + (20 - 18) * ((100vw - 320px) / (1920 - 320))));
    color: #9a9a9a;
    padding: 10px 0 5px 10px;
}

.projects_search{
    justify-content: center;
}

.projects__load{
    display: none;
}

.projects__load .load_gif{
    width: calc(min(150px, 90px + (150 - 90) * ((100vw - 320px) / (1920 - 320))));
    height: calc(min(150px, 90px + (150 - 90) * ((100vw - 320px) / (1920 - 320))));
}

.search_value{
    font-size: calc(min(60px, 24px + (60 - 24) * ((100vw - 320px) / (1920 - 320))));
    padding: 30px;
}

.popular_tags{
    padding: 20px;
    max-width: 1500px;
    margin: 40px auto;
}

.popular_tags__title{
    font-size: calc(min(36px, 22px + (36 - 22) * ((100vw - 320px) / (1920 - 320))));
}

.popular_tags .tags__list{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 800px;
}

.tags__list .item__link{
    color: #268899;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 200ms ease-out;
    padding: 0.4375em 0.625em 0.375em;
}

.tags__list .item__link:hover{
    background-color: #B7C3C7;
    color: #1472A8;
}

@media (max-width: 1024px) {

    .projects .card{
        width: calc(min(800px, 260px + (800 - 260) * ((100vw - 320px) / (1024 - 320))));
        margin: 0 auto;
    }

    .projects__content .card__image{
        height: calc(min(600px, 190px + (600 - 190) * ((100vw - 320px) / (1024 - 320))));
    }

}

@media (max-width: 786px) {

    .projects__content{
        justify-content: center;
    }

    .projects__content .card__description{
        font-size: calc(min(16px, 14px + (16 - 14) * ((100vw - 320px) / (1920 - 320))));
    }

}

