.container__project-detail{
    display: flex;
    gap: 20px;
}

.project-detail__sidebar{
    max-width: 300px;
    margin-right: auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.project-detail__sidebar .sidebar__title{
    font-size: 24px;
}

.project-detail__sidebar .hackaton{
    margin: 20px 0;
    display: flex;
    align-items: start;
    gap: 10px;
}

.project-detail__sidebar .hackaton .image{
    width: 45px;
    height: 45px;
}

.project-detail__sidebar .hackaton_name{
    color: #268899;
    font-size: 18px;
}

.project-detail__sidebar .done{
    margin: 20px 0;
}

.project-detail__sidebar .done__title{
    font-family: 'TildaRegular', sans-serif;
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase;
}

.project-detail__sidebar .done__name_team{
    font-size: 18px;
    padding: 30px 15px;
}

.project-detail__sidebar .winner{
    background-color: #F3BF1E;
    color: #192325;
    font-size: 14px;
    padding: 7px 5px 5px 5px;
    font-family: 'TildaLight', sans-serif;
    border-radius: 6px;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.project-detail__sidebar .hackaton_place{
    font-size: 24px;
    font-family: 'TildaBold', sans-serif;
}

.project-detail__sidebar .content-user{
    display: flex;
    gap: 20px;
}

.project-detail__sidebar .content-user .info__name{
    color: #268899;
    font-family: 'TildaMedium', sans-serif;
    font-weight: 100;
}

.project-detail__sidebar .team__user{
    margin-top: 30px;
}

.project-detail__sidebar .content-user .info__post{
    margin-top: 10px;
    font-family: 'TildaBold', sans-serif;
}

.project-detail__sidebar .user__description{
    padding: 35px 15px 15px 15px;
    color: #233136;
    font-size: 18px;
    line-height: 1.4;
}

.project-detail__sidebar .content-user .avatar{
    border-radius: 50%;
    width: 80px;
}

.project-detail{
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.nothing_search{
    padding: 0 20px;
    line-height: 1.3;
    margin: 50px 0;
    font-size: calc(min(54px, 24px + (54 - 24) * ((100vw - 320px) / (1920 - 320))));
    text-align: center;
}

.project-detail__block{
    margin: 40px 0;
    max-width: 700px;
}

.project-detail .block__title{
    font-size: calc(min(32px, 24px + (32 - 24) * ((100vw - 320px) / (1920 - 320))));
}

.project-detail .block__description{
    margin-top: 10px;
    font-size: 18px;
}

.project-detail__description h1{
    font-size: calc(min(32px, 24px + (32 - 24) * ((100vw - 320px) / (1920 - 320))));
}

.project-detail__description h2{
    font-size: calc(min(28px, 24px + (28 - 24) * ((100vw - 320px) / (1920 - 320))));
}

.project-detail__description h3{
    font-size: calc(min(24px, 20px + (24 - 20) * ((100vw - 320px) / (1920 - 320))));
}

.project-detail__description img{
    width: 100%;
}

.project-detail__description p{
    line-height: 1.4;
}

.project-detail__description{
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.2;
    max-width: 800px;
}

.project-detail .technologies__list{
    max-width: 800px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-detail__technologies__title{
    font-size: calc(min(32px, 24px + (32 - 24) * ((100vw - 320px) / (1920 - 320))));
}

.project-detail__technologies .technology{
    font-size: 20px;
    margin-top: 10px;
}

.youtube-video{
    height: 56vw;
    max-height: 675px;
}

.project-detail__git_link{
    font-size: calc(min(32px, 24px + (32 - 24) * ((100vw - 320px) / (1920 - 320))));
}

.git_link{
    color: #1F78D1;
    text-decoration: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.project-detail__git_link .git_icon{
    vertical-align: middle;
}

@media (max-width: 1570px) {

    .container__project-detail{
        display: block;
    }

    .container__project-detail{
        flex-direction: column;
    }

    .project-detail__sidebar{
        max-width: 1200px;
        margin-left: calc(min(170px, 0px + (170 - 0) * ((100vw - 1270px) / (1570 - 1270))));
    }

    .project-detail__sidebar .content-user .avatar{
        width: 120px;
    }

    .project-detail__sidebar .hackaton .image{
        width: 70px;
        height: 70px;
    }

    .project-detail__sidebar .sidebar__title{
        font-size: 36px;
    }

    .project-detail__sidebar .content-user .info__name,
    .project-detail__sidebar .hackaton_name,
    .project-detail__sidebar .user__description,
    .project-detail__sidebar .content-user .info__post{
        font-size: calc(min(32px, 24px + (32 - 24) * ((100vw - 320px) / (1570 - 320))));
    }

}

@media (max-width: 1270px) {

    .project-detail__sidebar{
        margin-left: 20px;
    }


}