<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/project_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.default.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.min.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="wrapper">
        {% include 'includes/header.html' %}
        <main class="main">
            {% block content %}

            {% endblock %}
        </main>
        {% include 'includes/footer.html' %}
    </div>
    <script>
        let csrf_token = '{{ csrf_token }}';
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{% static 'js/owl.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>

</body>
</html>